<!DOCTYPE html>
<html>

<head>
    <title>නාමාවලිය ගැන</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style type="text/css">

    </style>
</head>

<body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">
                    <div>නාමාවලිය - සිංහල නාම අක්ෂර වින්‍යාස නිවැරදි කරනය</div>
                </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>

            </div>
        </header>

        <main class="mdl-layout__content">
            <div style="margin-bottom: 8rem;" class="page-content">

                <div class="p-5">
                    <h5>නාමාවලිය සැකසුවේ</h5>

                <div class="p-3">
                    <ul class="list-group">
                        <li class="list-group-item">හාෂණ ඇලිකේවෙල</li>
                        <li class="list-group-item">යසිත් උඩගෙදර</li>
                    </ul>
                </div>

                <h5>සුපරීක්ෂණය කළේ</h5>

                <div class="p-3">
                    <ul class="list-group">
                        <li class="list-group-item">ආචාර්‍ය උදයසංකර් ත්‍යායසිවම්</li>
                    </ul>
                </div>
                </div>
            </div>
            <footer style="position: fixed; height:8rem; width: 100%; bottom: 0;" class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">නාමාවලිය</div>
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="/">නිවස</a></li>
                        <li><a href="/about">නාමාවලිය ගැන</a></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>

</body>

</html>