<!DOCTYPE html>
<html>

<head>
    <title>Spell-checker for Sri Lankan Names and Addresses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">

    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <!-- <img alt="Brand" src="..."> -->
                    Spell-checker for Sri Lankan Names and Addresses
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="col-lg-6">
            
        </div>

        <form action="{{ url_for('UI_BP.spellcorrect') }}" method="post">
            <input class="form-control" placeholder="Enter name" type="text" name="text">
            <input value="Spell correct" class="btn btn-default" type="submit">
        </form>

        <div>
            {% for o in option_list %}
            <p>{{ o[1] }}</p>
            {% endfor %}
        </div>


    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>

</html>